# Site settings
title: Opening Pathways | discovery | research | innovation 
email: dana@openingpathways.org
description: >
  - This project is a collaboration between patients and traditional researchers to explore the processes around discovery, research, and innovation in health and healthcare. The project is unique because it is led by a patient as Principal Investigator. The project is supported with grant funding by the Robert Wood Johnson Foundation.


baseurl: /Testrepo2 # the subpath of your site, e.g. /blog/
url: https://danamlewis.github.io/Testrepo2/ # the base hostname & protocol for your site
git_address: https://github.com/danamlewis/Testrepo2
git_edit_address: https://github.com/aksakalli/jekyll-doc-theme/blob/gh-pages

# theme options from https://bootswatch.com/
# comment out this to use default Bootstrap
bootwatch: paper

# Build settings
markdown: kramdown
highlighter: rouge
gems:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap

exclude:
  - Gemfile
  - Gemfile.lock
  - .idea/
  - .gitignore
  - README.md
  - vendor
timezone: Europe/Berlin
defaults:
- scope:
    path: _posts
    type: posts
  values:
    layout: post
    sectionid: blog

- scope:
    path: _docs
    type: docs
  values:
    layout: docs
    sectionid: docs
    seo:
      type: "WebPage"

collections:
  docs:
    permalink: /:collection/:path/
    output: true
  posts:
    permalink: /blog/:year/:month/:day/:title/
    output: true
