

<form method="POST" action="https://api.staticman.net/v2/entry/danamlewis/Testrepo2/master">

  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><input name="fields[name]" type="text">Name</label>
  <label><input name="fields[email]" type="email">E-mail</label>
  <label><textarea name="fields[message]"></textarea>Message</label>

  <button type="submit">Submit your comment</button>
</form>


<article id="comment{{ include.index }}" class="js-comment comment" itemprop="comment" itemscop itemtype="http://schema.org/Comment">
    <div class="comment__content-wrapper">
        <h4 class="comment__author" itemprop="author" itemscope itemtype="http://schema.org/Person">
            {% unless include.url == '' %}
            <a rel="nofollow" href="{{ include.url }}"><span itemprop="name">{{ include.name }}</span></a>
            {% else %}
            <span itemprop="name">{{ include.name }}</span>
            {% endunless %}
        </h4>
        <div class="comment__date">
            {% if include.date %}
            {% if include.index %}<a href="#comment{{ include.index }}" itemprop="url">{% endif %}
            <time datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.date | date: "%B %d, %Y at %I:%M %p" }}</time>
            {% if include.index %}</a>{% endif %}
            {% endif %}
        </div>
        <div itemprop="text">{{ include.message | markdownify }}</div>
    </div>
</article>

<h4 class="card-title">Submit Comment</h4> <div class="row"> <div class="input-field col s12 m6"> <input id="form-name" name="fields[name]" type="text" class="validate"> <label for="form-name">Name</label> </div> <div class="input-field col s12 m6"> <input id="form-email" name="fields[email]" type="email" class="validate"> <label for="form-email">Email</label> </div> </div> <div class="row"> <div class="input-field col s12"> <input id="form-url" name="fields[url]" type="url" class="validate"> <label for="form-url">Website (optional)</label> </div> </div> <div class="row"> <div class="input-field col s12"> <textarea id="form-message" name="fields[message]" class="materialize-textarea"></textarea> <label for="form-message">Comment</label> </div> </div> <button type="submit" class="waves-effect waves-light btn">Submit</button> </div> </div> </form> </div>
