

<form method="POST" action="https://api.staticman.net/v2/entry/danamlewis/Testrepo2/master">
 <input type="hidden" name="options[redirect]" value="https://danamlewis.github.io/Testrepo2/docs/thanks-for-submitting-your-comment">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <b>Name*:</b>
  <input name="fields[name]" type="text">
  <p><b>Email* (will not be published):</b>
  <input name="fields[email]" type="email"></p>
  <b>Comment:</b>
  <p><textarea name="fields[message]" rows="3" cols="30"></textarea></p>
  <input type="hidden" name="fields[title] type="title" value="{{ post.title }}">
                                                                              
  <button type="submit">Submit your comment</button>
  
</form>

