---
layout: default
---

<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="well">
                <h4>RECENT POSTS</h4>
                <ul class="list-unstyled post-list-container">
                    {% for post in site.posts limit:10 %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}" {% if page.title==post.title %} class="active" {% endif %}>{{ post.title }}</a></li>
                    {% endfor %}
                    <li><a href="{{ "/allposts" | prepend: site.baseurl }}">All posts ...</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            <div  id="markdown-content-container">{{ content }}</div>
            <hr>
                        test comment before what should work
            
                {% if site.comments.provider and post.comments %}
                    {% include comment.html %}
                {% endif %}
            
            test comment before sample form
            
            <!-- sample form -->
            <form method="POST" action="https://api.staticman.net/v2/entry/danamlewis/Testrepo2/master/_data/comments/">
  <input name="options[redirect]" type="hidden" value="https://my-site.com">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><input name="fields[name]" type="text">Name</label>
  <label><input name="fields[email]" type="email">E-mail</label>
  <label><textarea name="fields[message]"></textarea>Message</label>
  
  <button type="submit">Go!</button>
</form>
            
            test comment after sample form
            <ul class="pager">
                {% if page.previous %}
                <li class="previous">
                    <a href="{{ page.previous.url | prepend: site.baseurl }}">
                        <span aria-hidden="true">&larr;</span> Older
                    </a>
                </li>
                {% endif %} {% if page.next %}
                <li class="next">
                    <a href="{{ page.next.url | prepend: site.baseurl }}">
                      Newer <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>
